.hero{
    width: 100%;
    margin: 30px 0;
 
}
.hero-box{
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: space-evenly;
}
.hero-left{
    width: 63%;
    height: 500px;
}
.hero-right{
    width: 37%;
}
.hero-nexttitle{
    color:white;
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 10px;
}
.hero-subtitle{
    color:white;
    text-align: right;
    padding-right: 35px;
    font-family: sans-serif;
    font-size: 65px;
    line-height: 10px;
}
.hero-title{
    font-weight: 800;
    color:white;
    text-align: right;
    padding-right: 48px;
    font-family: sans-serif;
    font-size: 90px;
    
}